body{
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1, p{
  color: #fff;
}

h1{
  font-size: 50px;
}

p{
  font-size: 25px;
  margin: 0;
  padding-top: 5px;
}

hr{
  margin-bottom: 15px;
}

a{
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-family: serif;
}

a:hover{
  border-bottom: 1px solid black;
}

.menu{
  position: absolute;
  right: 5vw;
  top: 5vh;
  color: #fff;
  color: royalblue;
  background-color: #fff;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu:hover{
  cursor: pointer;
  color: #000;
  color: #fff;
  background-color: #3B5999;
  transition: all .5s ease-in-out;
}

.about_me{
  background-color: inherit;
  margin: auto;
  padding-top: 100px;
  width: 85%;
}

.container{
  height: 100vh;
  width: 100%;
}

.container-about-me{
  background-color: #3B5999;
}

.container-projects{
  background-color: #fff;
}

.container-experience{
  background-color: #3B5999;
}

#name{
  margin-bottom: 15px;
  font-family: serif;
}

#projects{
  margin-bottom: 15px;
  color: #666;
}

.arrow{
  animation-duration: .35s;
  animation-name: moving;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: absolute;
  left: 50vw;
  color: #3B5999;
  background-color: #fff;
  border-radius: 50%;
  transition: all .5s ease-in-out;
}

.arrow:hover{
  cursor: pointer;
  color: #fff;
  background-color: #3B5999;
  transition: all .5s ease-in-out;
}

@keyframes moving {
    from {
        bottom: 3%;
    }
    to {
        bottom: 4%;
    }
}
